<%= _.template(require('./html-includes/header.html').default)() %>

<section class="started flex flex-align-center flex-justify-between bg-l3 py-10">
  <div class="started__content mb-md-10 mb-lg-0">
    <div class="started__title text--bold color-primary mb-5 anim anim--up -scroll-">
      Абразивные колпачки <br class="d-none d-md-block">
      от 240 ₽ за 5 шт.
    </div>
    <div class="text-body-1 text-md-subtitle-2 text--regular color-primary mb-5 mb-md-10 delay-2 anim anim--up -scroll-">Бесплатная доставка по РФ при покупке до 30 декабря</div>
    <div class="started__btns flex flex-wrap flex-align-center mb-5 mb-md-10 delay-4 anim anim--up -scroll-">
      <button class="started__btn btn btn--primary btn--fill" data-fancybox-modal data-src="dialog-submit.html" data-type="ajax">Узнать цену</button>
      <button class="started__btn btn btn--primary btn--contur" data-fancybox-modal data-src="dialog-feedback.html" data-type="ajax">Стать партнером</button>
    </div>
    <div class="started__items flex flex-wrap flex-align-center">
      <div class="flex flex-align-center delay-5 anim anim--up -scroll-">
        <svg class="icon color-sec text-h2 text-md-h0 mr-2 mr-md-4">
          <use xlink:href="./img/icons.svg#subtrack" />
        </svg>
        <div class="text-body-1 text-md-body-0">
          Собственное <br class="d-none d-md-block"> производство
        </div>
      </div>
      <div class="flex flex-align-center delay-6 anim anim--up -scroll-">
        <svg class="icon color-sec text-h2 text-md-h0 mr-2 mr-md-4">
          <use xlink:href="./img/icons.svg#fair" />
        </svg>
        <div class="text-body-1 text-md-body-0">
          Доступная <br class="d-none d-md-block"> цена
        </div>
      </div>
      <div class="flex flex-align-center delay-7 anim anim--up -scroll-">
        <svg class="icon color-sec text-h2 text-md-h0 mr-2 mr-md-4">
          <use xlink:href="./img/icons.svg#car" />
        </svg>
        <div class="text-body-1 text-md-body-0">
          Быстрая <br class="d-none d-md-block"> доставка по РФ
        </div>
      </div>
    </div>
  </div>
  <div class="started__circle w-100 duration-8 mb-md-0 mb-5 anim anim--increase -scroll-">
    <img class="started__img started__img--1" src="img/started-img-1.png" alt="">
    <img class="started__img started__img--2" src="img/started-img-2.png" alt="">
  </div>
  <div class="started__social flex flex-align-center mt-10 mt-md-0 delay-4 anim anim--left -scroll-">
    <a class="started__link btn btn--primary btn--fill p-0" href="">
      <svg class="icon text-h6 text-md-subtitle-2">
        <use xlink:href="./img/icons.svg#ok" />
      </svg>
    </a>
    <a class="started__link btn btn--primary btn--fill p-0" href="">
      <svg class="icon text-subtitle-2 text-md-body-1">
        <use xlink:href="./img/icons.svg#tg" />
      </svg>
    </a>
    <a class="started__link btn btn--primary btn--fill p-0" href="">
      <svg class="icon text-subtitle-1 text-md-body-0">
        <use xlink:href="./img/icons.svg#vk" />
      </svg>
    </a>
    <a class="started__link btn btn--primary btn--fill p-0" href="">
      <svg class="icon text-body-0 text-md-body-2">
        <use xlink:href="./img/icons.svg#play" />
      </svg>
    </a>
    <a class="started__link btn btn--primary btn--fill p-0" href="">
      <svg class="icon text-subtitle-2 text-md-body-1">
        <use xlink:href="./img/icons.svg#inst" />
      </svg>
    </a>
  </div>
</section>

<section class="specifications" id="product">
  <div class="text-body-1 text-md-h6 mb-3 anim anim--up -scroll-">О товаре</div>
  <div class="text-h3 text-md-h1 text--demibold lh-1-5 mb-5 anim anim--up -scroll-">Характеристика колпачка №10</div>
  <div data-filter>
    <div class="specifications__head flex mb-7 mb-md-10 mb-lg-6 delay-2 anim anim--up -scroll-">
      <div class="flex flex-column">
        <div class="text-body-1 text--demibold mb-2">Выберите номер колпачка:</div>
        <div class="specifications__labels flex flex-align-center">
          <label class="specifications__label specifications__label--big flex">
            <input class="specifications__radio d-none" type="radio" name="number" value="10" checked>
            <span class="specifications__btn flex flex-align-center flex-justify-center bg-green text-body-0 w-100 px-2" type="button">№10</span>
          </label>
          <!-- <label class="specifications__label specifications__label--big flex">
            <input class="specifications__radio d-none" type="radio" name="number" value="13">
            <span class="specifications__btn flex flex-align-center flex-justify-center bg-green text-body-0 w-100 px-2" type="button">№13</span>
          </label> -->
        </div>
      </div>
      <div class="flex flex-column">
        <div class="text-body-1 text--demibold mb-2">Выберите абразивность:</div>
        <div class="specifications__labels flex flex-align-center">
          <label class="specifications__label specifications__label--min flex" data-filter-category="category-1">
            <input class="specifications__radio d-none" type="radio" name="size" value="80" checked>
            <span class="specifications__btn flex flex-align-center flex-justify-center bg-green text-body-0 w-100 px-2" type="button">80</span>
          </label>
          <label class="specifications__label specifications__label--min flex" data-filter-category="category-2">
            <input class="specifications__radio d-none" type="radio" name="size" value="150">
            <span class="specifications__btn flex flex-align-center flex-justify-center bg-green text-body-0 w-100 px-2" type="button">150</span>
          </label>
          <label class="specifications__label specifications__label--min flex" data-filter-category="category-3">
            <input class="specifications__radio d-none" type="radio" name="size" value="320">
            <span class="specifications__btn flex flex-align-center flex-justify-center bg-green text-body-0 w-100 px-2" type="button">320</span>
          </label>
        </div>
      </div>
    </div>
    <div class="specifications__content flex flex-wrap flex-align-center flex-justify-between">
      <div class="specifications__product" data-filter-card="category-1">
        <img class="specifications__img w-100" src="img/product-1.png" alt="">
        <div class="specifications__shadow d-none d-lg-block"></div>
      </div>
      <div class="specifications__product d-none" data-filter-card="category-2">
        <img class="specifications__img w-100" src="img/product-2.png" alt="">
        <div class="specifications__shadow d-none d-lg-block"></div>
      </div>
      <div class="specifications__product" data-filter-card="category-3">
        <img class="specifications__img w-100" src="img/product-1.png" alt="">
        <div class="specifications__shadow d-none d-lg-block"></div>
      </div>
      <div class="specifications__items flex flex-column flex-align-end flex-justify-end color-primary w-100">
        <div class="specifications__item specifications__item--1 text-body-1 text--demibold text--right w-100 anim anim--up -scroll- pb-3 mb-5 mb-lg-10">Cохраняет свои свойства до конца работы</div>
        <div class="specifications__item specifications__item--2 text-body-1 text--demibold text--right w-100 anim anim--up -scroll- pb-3 mb-5 mb-lg-10">Абразив увеличивает скорость обработки</div>
        <div class="specifications__item specifications__item--3 text-body-1 text--demibold text--right w-100 anim anim--up -scroll- pb-3 mb-5 mb-lg-10">Отсутствует вибрация во время работы</div>
        <div class="specifications__item specifications__item--4 text-body-1 text--demibold text--right w-100 anim anim--up -scroll- pb-3 mb-5 mb-lg-10">Подходит для все видов аппаратов</div>
        <div class="specifications__item specifications__item--5 text-body-1 text--demibold text--right w-100 anim anim--up -scroll- pb-3 mb-5 mb-lg-10">Высококачественные материалы</div>
        <div class="specifications__item specifications__item--6 text-body-1 text--demibold text--right w-100 anim anim--up -scroll- pb-3">Высокая теплотворность</div>
      </div>
      <form class="specifications__feedback bg-green w-100 anim anim--left -scroll- -form-params-" data-specification data-request="dialog-product.html" data-filter-card="category-1">
        <input type="hidden" value="80" name="abrasiveness">
        <input type="hidden" value="img/product-1.png" name="image">
        <input data-specification-input="price" type="hidden" name="price">
        <input data-specification-input="oldprice" type="hidden" name="oldprice">
        <input data-specification-input="box" type="hidden" name="box">
        <input data-specification-input="quantity" type="hidden" name="quantity">
        <div class="text-h4 text-md-h2 text--demibold color-primary mb-5 mb-md-8 pt-5 pt-md-10 px-5 px-md-10">Выберите кол-во</div>
        <div class="specifications__listing px-2">
          <div class="specifications__price flex">
            <label class="d-block" data-specification-label>
              <input class="specifications__check d-none" data-specification-radio value="0" type="radio" name="specification" required>
              <div class="specifications__element py-2 px-4">
                <s class="d-block text--right text-small fade-60 ml-auto">
                  <span data-specification-text="oldprice">3 000</span> ₽
                </s>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1">
                    <span class="text--demibold" data-specification-text="box">1 коробочка</span> <span data-specification-text="quantity" class="fade-60">50 шт</span>
                  </div>
                  <div class="text-subtitle-2 text--demibold">
                    <span data-specification-text="price">2 000</span> ₽
                  </div>
                </div>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1 fade-60">1 коробочка</div>
                  <div class="text-body-1">1 800 ₽</div>
                </div>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1 fade-60">1 колпачок</div>
                  <div class="text-body-1">36 ₽</div>
                </div>
              </div>
            </label>
            <label class="d-block" data-specification-label>
              <input class="specifications__check d-none" data-specification-radio value="1" type="radio" name="specification" required>
              <div class="specifications__element py-2 px-4">
                <s class="d-block text--right text-small fade-60 ml-auto">
                  <span data-specification-text="oldprice">4 000</span> ₽
                </s>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1">
                    <span class="text--demibold" data-specification-text="box">1 коробочка</span> <span data-specification-text="quantity" class="fade-60">50 шт</span>
                  </div>
                  <div class="text-subtitle-2 text--demibold">
                    <span data-specification-text="price">3 000</span> ₽
                  </div>
                </div>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1 fade-60">1 коробочка</div>
                  <div class="text-body-1">1 800 ₽</div>
                </div>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1 fade-60">1 колпачок</div>
                  <div class="text-body-1">36 ₽</div>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="bg-primary py-4 px-5 px-md-10">
          <button class="btn btn--white btn--contur w-100" type="submit">Добавить в корзину</button>
        </div>
      </form>
      <form class="specifications__feedback d-none bg-green w-100 -form-params-" data-specification data-request="dialog-product.html" data-filter-card="category-2">
        <input type="hidden" value="150" name="abrasiveness">
        <input type="hidden" value="img/product-1.png" name="image">
        <input data-specification-input="price" type="hidden" name="price">
        <input data-specification-input="oldprice" type="hidden" name="oldprice">
        <input data-specification-input="box" type="hidden" name="box">
        <input data-specification-input="quantity" type="hidden" name="quantity">
        <div class="text-h4 text-md-h2 text--demibold color-primary mb-5 mb-md-8 pt-5 pt-md-10 px-5 px-md-10">Выберите кол-во</div>
        <div class="specifications__listing px-2">
          <div class="specifications__price flex">
            <label class="d-block" data-specification-label>
              <input class="specifications__check d-none" data-specification-radio value="0" type="radio" name="specificationtwo" required>
              <div class="specifications__element py-2 px-4">
                <s class="d-block text--right text-small fade-60 ml-auto">
                  <span data-specification-text="oldprice">1 000</span> ₽
                </s>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1">
                    <span class="text--demibold" data-specification-text="box">1 коробочка</span> <span data-specification-text="quantity" class="fade-60">50 шт</span>
                  </div>
                  <div class="text-subtitle-2 text--demibold">
                    <span data-specification-text="price">800</span> ₽
                  </div>
                </div>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1 fade-60">1 коробочка</div>
                  <div class="text-body-1">1 800 ₽</div>
                </div>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1 fade-60">1 колпачок</div>
                  <div class="text-body-1">36 ₽</div>
                </div>
              </div>
            </label>
            <label class="d-block" data-specification-label>
              <input class="specifications__check d-none" data-specification-radio value="1" type="radio" name="specificationtwo" required>
              <div class="specifications__element py-2 px-4">
                <s class="d-block text--right text-small fade-60 ml-auto">
                  <span data-specification-text="oldprice">7 000</span> ₽
                </s>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1">
                    <span class="text--demibold" data-specification-text="box">1 коробочка</span> <span data-specification-text="quantity" class="fade-60">50 шт</span>
                  </div>
                  <div class="text-subtitle-2 text--demibold">
                    <span data-specification-text="price">5 000</span> ₽
                  </div>
                </div>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1 fade-60">1 коробочка</div>
                  <div class="text-body-1">1 800 ₽</div>
                </div>
                <div class="flex flex-align-center flex-justify-between mt-1">
                  <div class="text-body-1 fade-60">1 колпачок</div>
                  <div class="text-body-1">36 ₽</div>
                </div>
              </div>
            </label>
          </div>
        </div>
        <div class="bg-primary py-4 px-5 px-md-10">
          <button class="btn btn--white btn--contur w-100" type="submit">Добавить в корзину</button>
        </div>
      </form>
    </div>
    <div class="specifications__description color-primary anim anim--fade -scroll-">
      <div class="text-subtitle-2 mb-2">Описание:</div>
      <div class="text-body-1 text-md-subtitle-2 text--regular lh-1-5">
        Колпачки ПодоЮлис впервые в индустрии используют алюминиевую основу, гарантируя максимальную теплотворность колпачка ПодоЮлис во время работы, что позволяет избежать ожога клиента, выводя работу на совершенно другой уровень.<br>
        Качественный абразив ПодоЮлис из карбида кремния качественно улучшает обработку стопы и увеличивает скорость работы. <br>
        Колпачки ПодоЮлис подходят для работы мастерам и подологам любого уровня, они подходят для всех видов аппаратов: <br>
        Классический аппарат, Аппарат с пылесосом, Аппарата с подоспреем.
      </div>
    </div>
  </div>
</section>

<section class="result bg-l3 -result-" id="result">
  <div class="text-body-1 text-md-subtitle-2 mb-3 anim anim--up -scroll-">Почему мы?</div>
  <div class="text-h3 text-md-h0 text--demibold lh-1-5 mb-5 anim anim--up -scroll-">Аргументы в пользу нашей продукции</div>
  <div class="mb-10 pb-lg-10">
    <div class="grid grid-spacing-8">
      <div class="grid-col-md-6 grid-col-lg-4">
        <div class="h-100 anim anim--up -scroll-">
          <div class="result__pack mb-4 mb-md-6">
            <img class="result__pic w-100 h-100" src="img/result-1.png" alt="">
          </div>
          <div class="text-body-1 text--demibold">Позволяет подологам и мастерам педикюра ускорить работу, а значит увеличить прибыль</div>
        </div>
      </div>
      <div class="grid-col-md-6 grid-col-lg-4">
        <div class="h-100 anim anim--up -scroll-">
          <div class="result__pack mb-4 mb-md-6">
            <img class="result__pic w-100 h-100" src="img/result-1.png" alt="">
          </div>
          <div class="text-body-1 text--demibold">Позволяет подологам и мастерам педикюра ускорить работу, а значит увеличить прибыль</div>
        </div>
      </div>
      <div class="grid-col-md-6 grid-col-lg-4">
        <div class="h-100 anim anim--up -scroll-">
          <div class="result__pack mb-4 mb-md-6">
            <img class="result__pic w-100 h-100" src="img/result-1.png" alt="">
          </div>
          <div class="text-body-1 text--demibold">Позволяет подологам и мастерам педикюра ускорить работу, а значит увеличить прибыль</div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-body-1 text-md-subtitle-2 mb-3 anim anim--up -scroll-">До — После</div>
  <div class="text-h3 text-md-h0 text--demibold lh-1-5 mb-5 anim anim--up -scroll-">Посмотрите результат уже сейчас</div>
  <div class="result-slide h-100 mb-5 mb-md-10 duration-5 anim anim--increase -scroll- -result-slide-">
    <div class="result__before w-50 h-100 -result-before-">
      <img class="result__img d-block w-100 h-100 -result-img-" src="img/result-1.png" alt="">
    </div>
    <img class="result__bg d-block w-100 h-100" src="img/result-2.png" alt="">
    <div class="result__change flex flex-align-center flex-justify-center bg-l3 -result-change-">
      <div class="result__circle flex flex-align-center flex-justify-center color-white bg-primary">
        <svg class="icon text-subtitle-2">
          <use xlink:href="img/icons.svg#arrows" />
        </svg>
      </div>
    </div>
  </div>
  <button class="btn btn--primary btn--fill mx-auto anim anim--up -scroll-">Оставить заявку</button>
</section>

<section class="conditions" id="conditions">
  <div class="text-body-1 text-md-subtitle-2 mb-3 anim anim--up -scroll-">Доставка</div>
  <div class="text-h3 text-md-h0 text--demibold lh-1-5 mb-5 mb-md-10 anim anim--up -scroll-">Условия доставки по РФ</div>
  <div class="grid grid-spacing-5 grid-spacing-lg-10">
    <div class="grid-col-12 grid-col-lg-4">
      <div class="conditions__border">
        <div class="conditions__item flex flex-align-center bg-l3 p-5 anim anim--up -scroll-">
          <svg class="conditions__icon icon color-sec mr-3">
            <use xlink:href="./img/icons.svg#box" />
          </svg>
          <div class="flex flex-column">
            <div class="text-body-1 text--demibold mb-2">Для оптовых покупателей</div>
            <div class="text-body-2 lh-1-5">Бесплатная доставка по всей территории РФ курьером и в пункты самовывоза</div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-col-12 grid-col-lg-4">
      <div class="conditions__border">
        <div class="conditions__item flex flex-align-center bg-l3 p-5 delay-2 anim anim--up -scroll-">
          <svg class="conditions__icon icon color-sec mr-3">
            <use xlink:href="./img/icons.svg#geo" />
          </svg>
          <div class="flex flex-column">
            <div class="text-body-1 text--demibold mb-2">В пункты самовывоза</div>
            <div class="text-body-2 lh-1-5">Бесплатная доставка по всей территории РФ курьером и в пункты самовывоза</div>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-col-12 grid-col-lg-4">
      <div class="conditions__border">
        <div class="conditions__item flex flex-align-center bg-l3 p-5 delay-4 anim anim--up -scroll-">
          <svg class="conditions__icon icon color-sec mr-3">
            <use xlink:href="./img/icons.svg#house" />
          </svg>
          <div class="flex flex-column">
            <div class="text-body-1 text--demibold mb-2">Курьером до девери</div>
            <div class="text-body-2 lh-1-5">Бесплатная доставка по всей территории РФ курьером и в пункты самовывоза</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="partners bg-l3" id="partners">
  <div class="text-body-1 text-md-subtitle-2 mb-3 anim anim--up -scroll-">Наши партнеры</div>
  <div class="text-h3 text-md-h0 text--demibold lh-1-5 mb-5 mb-md-10 anim anim--up -scroll-">Мы всегда готовы сотрудничать</div>
  <div class="mb-8">
    <div class="grid grid-spacing-5 grid-spacing-lg-8">
      <div class="grid-col-12 grid-col-md-6">
        <div class="partners__item flex flex-align-center flex-justify-center flex-column p-10 anim anim--up -scroll-">
          <img class="partners__img mb-8" src="img/yandex.svg" alt="">
          <div class="text-body-1 text-md-subtitle-2 text--center text--demibold mb-5 mb-md-8">Мы на Яндекс.Маркет</div>
          <a class="btn btn--primary btn--fill" href="" target="_blank">Перейти</a>
        </div>
      </div>
      <div class="grid-col-12 grid-col-md-6">
        <div class="partners__item flex flex-align-center flex-justify-center flex-column p-10 anim anim--up -scroll-">
          <img class="partners__img mb-8" src="img/ozon.svg" alt="">
          <div class="text-body-1 text-md-subtitle-2 text--center text--demibold mb-5 mb-md-8">Мы на Ozon</div>
          <a class="btn btn--primary btn--fill" href="" target="_blank">Перейти</a>
        </div>
      </div>
    </div>
  </div>
  <div class="partners__feedback flex flex-wrap flex-align-center flex-justify-between bg-primary p-4 p-lg-2 duration-5 anim anim--fade -scroll-">
    <div class="partners__content flex flex-column flex-align-center flex-justify-center w-100 mb-4 mb-lg-0">
      <div class="color-white">
        <div class="text-h3 text-md-h0 text--demibold mb-2">Напишите нам <br class="d-none d-md-block"> о сотрудничестве</div>
        <div class="text-body-1 text-md-subtitle-2 text--regular mb-3">и мы рассмотрим ваше предложение <br class="d-none d-md-block"> в течение 2 часов</div>
      </div>
    </div>
    <form class="partners__form w-100 py-5 px-3 py-md-9 px-md-8 -form-submit-" data-request="/submit-handler.php">
      <div class="grid grid-spacing-5 grid-spacing-lg-8">
        <div class="grid-col-12 grid-col-md-6">
          <label class="form-field mb-5 -validate-label-">
            <div class="text-body-1 text-md-subtitle-2 text--demibold mb-2">Имя</div>
            <div class="form-input-cover">
              <input type="text" class="form-input -validate-input- -input-name-" placeholder="Введите имя" name="name">
            </div>
            <div class="error error--none -validate-error-">Пожалуйста, введите ваше имя!</div>
          </label>
          <label class="form-field -validate-label-">
            <div class="text-body-1 text-md-subtitle-2 text--demibold mb-2">Телефон</div>
            <div class="form-input-cover">
              <input type="tel" class="form-input -validate-input- -input-tel-" placeholder="+7(___)___-__-__" name="tel">
            </div>
            <div class="error error--none -validate-error-">Пожалуйста, введите ваш номер!</div>
          </label>
        </div>
        <div class="grid-col-12 grid-col-md-6">
          <label class="form-field -validate-label-">
            <div class="text-body-1 text-md-subtitle-2 text--demibold mb-2">Ваше предложение</div>
            <div class="form-input-cover">
              <textarea class="form-input -validate-input- -input-textarea-" placeholder="Напишите здесь..." name="text"></textarea>
            </div>
            <div class="error error--none -validate-error-">Пожалуйста, оставьте предложение!</div>
          </label>
        </div>
        <div class="grid-col-12">
          <div class="flex flex-align-center flex-wrap">
            <button class="btn btn--primary btn--fill w-100 w-md-auto mb-5 mb-lg-0 mr-lg-5" type="submit">Отправить</button>
            <div class="text-body-2 lh-1-5 link-hover" data-fancybox-modal data-src="dialog-politic.html" data-type="ajax">
              <span class="fade-70">Нажимая кнопку «Отправить» вы даете согласие на</span> <span class="text--underline">обработку <br class="d-none d-lg-block"> ваших персональных данных</span>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="reviews" id="reviews">
  <div class="text-body-1 text-md-subtitle-2 mb-3 anim anim--up -scroll-">Отзывы</div>
  <div class="text-h3 text-md-h0 text--demibold lh-1-5 mb-5 mb-md-10 anim anim--up -scroll-">Страемся стать лучше для вас</div>
  <div class="reviews-slider slider anim anim--fade -scroll-">
    <div class="swiper grid-spacing-4">
      <div class="swiper-wrapper">
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto">
          <div class="reviews-slide bg-l3 h-100 p-4 p-md-8">
            <div class="flex flex-align-center mb-5 mb-md-8">
              <div class="reviews__ava flex flex-align-center flex-justify-center bg-sec mr-4">
                <div class="reviews__user color-white text-h3">
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#user" />
                  </svg>
                </div>
                <img class="reviews__img w-100 h-100" src="img/ava.jpg" alt="">
              </div>
              <div class="flex flex-column">
                <div class="text-body-1 text-md-body-0 text--demibold mb-2">Евгения Крылова</div>
                <div class="text-body-2 text-md-body-1">Директор «ORIBE»</div>
              </div>
            </div>
            <div class="text-body-2 text-md-body-1 fade-70 lh-1-5">
              Общество с ограниченной ответственностью Группа Компаний «Супер Пчелы» выражает благодарность за высокий профессионализм и качество обслуживания.
            </div>
          </div>
        </div>
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto">
          <div class="reviews-slide bg-l3 h-100 p-4 p-md-8">
            <div class="flex flex-align-center mb-5 mb-md-8">
              <div class="reviews__ava flex flex-align-center flex-justify-center bg-sec mr-4">
                <div class="reviews__user color-white text-h3">
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#user" />
                  </svg>
                </div>
                <img class="reviews__img w-100 h-100" src="img/ava.jpg" alt="">
              </div>
              <div class="flex flex-column">
                <div class="text-body-1 text-md-body-0 text--demibold mb-2">Евгения Крылова</div>
                <div class="text-body-2 text-md-body-1">Директор «ORIBE»</div>
              </div>
            </div>
            <div class="text-body-2 text-md-body-1 fade-70 lh-1-5">
              Общество с ограниченной ответственностью Группа Компаний «Супер Пчелы» выражает благодарность за высокий профессионализм и качество обслуживания.
              Общество с ограниченной ответственностью Группа Компаний «Супер Пчелы» выражает благодарность за высокий профессионализм и качество обслуживания.
            </div>
          </div>
        </div>
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto">
          <div class="reviews-slide bg-l3 h-100 p-4 p-md-8">
            <div class="flex flex-align-center mb-5 mb-md-8">
              <div class="reviews__ava flex flex-align-center flex-justify-center bg-sec mr-4">
                <div class="reviews__user color-white text-h3">
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#user" />
                  </svg>
                </div>
              </div>
              <div class="flex flex-column">
                <div class="text-body-1 text-md-body-0 text--demibold mb-2">Евгения Крылова</div>
                <div class="text-body-2 text-md-body-1">Директор «ORIBE»</div>
              </div>
            </div>
            <div class="text-body-2 text-md-body-1 fade-70 lh-1-5">
              Общество с ограниченной ответственностью Группа Компаний «Супер Пчелы» выражает благодарность за высокий профессионализм и качество обслуживания.
            </div>
          </div>
        </div>
        <div class="swiper-slide grid-col-10 grid-col-md-6 grid-col-lg-4 h-auto">
          <div class="reviews-slide bg-l3 h-100 p-4 p-md-8">
            <div class="flex flex-align-center mb-5 mb-md-8">
              <div class="reviews__ava flex flex-align-center flex-justify-center bg-sec mr-4">
                <div class="reviews__user color-white text-h3">
                  <svg class="icon">
                    <use xlink:href="img/icons.svg#user" />
                  </svg>
                </div>
                <img class="reviews__img w-100 h-100" src="img/ava.jpg" alt="">
              </div>
              <div class="flex flex-column">
                <div class="text-body-1 text-md-body-0 text--demibold mb-2">Евгения Крылова</div>
                <div class="text-body-2 text-md-body-1">Директор «ORIBE»</div>
              </div>
            </div>
            <div class="text-body-2 text-md-body-1 fade-70 lh-1-5">
              Общество с ограниченной ответственностью Группа Компаний «Супер Пчелы» выражает благодарность за высокий профессионализм и качество обслуживания.
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="slider-btn slider-prev d-none d-md-flex btn btn--white btn--fill p-0">
      <svg class="icon color-primary">
        <use xlink:href="img/icons.svg#to-left" />
      </svg>
    </button>
    <button class="slider-btn slider-next d-none d-md-flex btn btn--white btn--fill p-0">
      <svg class="icon color-primary">
        <use xlink:href="img/icons.svg#to-right" />
      </svg>
    </button>
    <div class="slider-pagination d-md-none d-flex flex-align-center flex-justify-center mt-5"></div>
  </div>
</section>

<section class="partners bg-l3 pb-0">
  <div class="text-body-1 text-md-subtitle-2 mb-3 anim anim--up -scroll-">Наши партнеры</div>
  <div class="text-h3 text-md-h0 text--demibold lh-1-5 mb-5 mb-md-10 anim anim--up -scroll-">Мы всегда готовы сотрудничать</div>
  <div class="mb-8">
    <div class="grid grid-spacing-5 grid-spacing-lg-8">
      <div class="grid-col-12 grid-col-md-6">
        <div class="partners__element flex flex-align-center flex-justify-center flex-column p-10 anim anim--up -scroll-">
          <div class="mb-md-10 pb-md-10">
            <img class="d-block w-auto mb-6" src="img/luksor.png" alt="">
          </div>
          <div class="text-subtitle-2 mb-2">Люксор</div>
          <div class="text-body-2 fade-70">Представительство в Казахстане</div>
        </div>
      </div>
      <div class="grid-col-12 grid-col-md-6">
        <div class="partners__element flex flex-align-center flex-justify-center flex-column p-10 anim anim--up -scroll-">
          <img class="d-block w-auto mb-6" src="img/podolog.png" alt="">
          <div class="text-subtitle-2 mb-2">Podolog Gatchina</div>
          <div class="text-body-2 fade-70">Представительство в Санкт-Петербурге и Ленинградская область</div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  new Swiper('.reviews-slider .swiper', {
    slidesPerView: 'auto',
    watchSlidesProgress: true,
    navigation: {
      nextEl: '.reviews-slider .slider-next',
      prevEl: '.reviews-slider .slider-prev'
    },
    pagination: {
        el: '.reviews-slider .slider-pagination',
        clickable: true
      }
  })
</script>

<%= _.template(require('./html-includes/footer.html').default)() %>