@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {

	@each $key,
	$value in $colors {
		@include getColors($value, $key);
	}

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Gilroy',
	Arial,
	Helvetica,
	sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
}

@mixin scrollbar($rotate-1, $rotate-2, $rotate-3) {
	background-image: linear-gradient(#{$rotate-1}deg,  var(--color-green) 35%, transparent 41%),
	linear-gradient(#{$rotate-2}deg,  var(--color-green) 35%, transparent 41%),
	linear-gradient(#{$rotate-3}deg,  var(--color-green) 35%, transparent 41%);
}

* {
	scrollbar: {
		width: thin;
		color: var(--color-primary) var(--color-green);
	}
}

::-webkit-scrollbar {
	@media(pointer: fine) {
		width: 10px;
  
	  &-track {
		background-color: var(--color-green);
  
		&-piece {
		  margin: 8px 0;
		}
	  }
  
	  &-thumb {
		background-color: var(--color-primary);
		border-radius: 8px;
	  }
  
	  &-corner {
		background-color: var(--color-green);
	  }
  
	  &-button {
		background-color: var(--color-primary);
  
		&:vertical {
		  &:decrement:start {
			@include scrollbar(120, 240, 0);
		  }
  
		  &:increment:end {
			@include scrollbar(300, 60, 180);
		  }
  
		  &:increment:start,
		  &:decrement:end {
			display: none;
		  }
		}
  
		&:horizontal {
		  &:decrement:start {
			@include scrollbar(30, 150, -90);
		  }
  
		  &:increment:end {
			@include scrollbar(210, 330, 90);
		  }
  
		  &:increment:start,
		  &:decrement:end {
			display: none;
		  }
		}
	  }
	}
  }

body {
	background: var(--bg3);
	color: var(--color-text);

	* {
		font-family: var(--font-base);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.header {
	top: 0;
	left: 0;
	right: 0;
	transition: 0.2s ease;
	position: sticky;
	border-bottom: 1px solid var(--color-primary);
	z-index: var(--zi-l3);

	&__logo {
		max-width: 250px;
		flex-direction: column;
		position: relative;
	}

	&__img {
		max-width: 80px;
		z-index: 1;
	}

	&__text {
		position: absolute;
		left: 0;
		right: 0;
		bottom: -65px;
		transition: 0.2s ease;

		img {
			max-width: 150px;
		}
	}

	&--top &__logo {
		margin-bottom: 0;
	}

	&--top &__text {
		opacity: 0;
		visibility: hidden;
		bottom: 0;
	}

	&__circle {
		width: 28px;
		height: 28px;
		background-color: rgba(203, 215, 207, 0.3);
		border-radius: 100%;
	}

	&__basket {
		margin-left: 100px;

		&--none {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	@media(max-width: $lg) {
		& {
			position: static;
		}

		&__basket {
			margin-left: 0;
		}
	}

	@media(max-width: $md) {
		&__logo, &__img {
			max-width : 60px;
		}
	}
}

.slider {
	&-btn {
		width: 50px;
		height: 50px;
		border-radius: 50%;

		&.slider-prev {
			left: -60px;
		}

		&.slider-next {
			left: auto;
			right: -60px;
		}
	}

	&-pagination {
		& .swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background-color: var(--color-primary-40);
			margin: 0 10px;

			&.swiper-pagination-bullet-active {
				background-color: var(--color-primary);
			}
		}
	}

	@media(max-width: $lg) {
		&-btn {
			&.slider-prev {
				left: 0;
			}

			&.slider-next {
				right: 0;
			}
		}
	}
}

.started {
	position: relative;

	&__title {
		font-size: 52px;
	}

	&__btns {
		grid-gap: 20px;
	}

	&__items {
		grid-gap: 36px;
	}

	&__circle {
		max-width: 600px;
		background: linear-gradient(180deg, #CBD7CF 0%, rgba(255, 255, 255, 0) 100%);
		border-radius: 50%;
		position: relative;
		overflow: hidden;

		&::before {
			content: '';
			display: block;
			padding-top: 100%;
		}
	}

	&__img {
		position: absolute;
		max-width: none;

		&--1 {
			top: -60px;
			left: -180px;
			width: 720px;
			z-index: 1;
		}

		&--2 {
			top: 60px;
			right: 0;
			width: 330px;
		}
	}

	&__social {
		position: absolute;
		bottom: -15px;
		right: 130px;
		grid-gap: 10px;
	}

	&__link {
		min-width: 30px;
		width: 30px;
		height: 30px;
		border-radius: 5px;
	}

	@media(max-width: $lg) {
		& {
			flex-direction: column;
		}

		&__social {
			right: 20px;
		}
	}

	@media(max-width: $md) {
		&__content {
			order: 2;
		}

		&__circle {
			max-width: 300px;
			order: 1;
		}

		&__title {
			font-size: 30px;
		}

		&__btns {
			flex-direction: column;
			align-items: flex-start;
		}

		&__items {
			grid-gap: 20px;
		}

		&__btn {
			width: 100%;
		}

		&__img {
			&--1 {
				top: -20px;
				left: -80px;
				width: 350px;
			}

			&--2 {
				top: 40px;
				width: 160px;
			}
		}

		&__social {
			position: static;
			grid-gap: 15px;
			order: 3;
		}

		&__link {
			min-width: 40px;
			width: 40px;
			height: 40px;
		}
	}
}

.specifications {
	background-color: var(--color-green-30);
	overflow: hidden;

	&__head {
		grid-gap: 50px;
	}

	&__labels {
		grid-gap: 10px;
	}

	&__label {
		&--big {
			width: 70px;
		}

		&--min {
			width: 52px;
		}
	}

	&__btn {
		transition: 0.2s;
		border-radius: 5px;
		height: 42px;
	}

	&__radio:checked+&__btn {
		color: var(--color-white);
		font-weight: 600;
		background-color: var(--color-primary);
		pointer-events: none;
	}

	&__content {
		position: relative;
		grid-gap: 40px;
		margin-bottom: 130px;
	}

	&__items {
		max-width: 780px;
		position: relative;
	}

	&__product {
		position: absolute;
		left: 60px;
		top: 15px;
		width: 550px;
		height: 550px;

		&.filter-show {
			animation: 0.3s product ease both;
		}
	}

	&__img {
		pointer-events: none;
		height: 530px;
		transform: rotate(30deg) translate(-110px, 25px);
	}

	&__shadow {
		margin-top: 60px;
		background: #333333;
		opacity: 0.3;
		filter: blur(28px);
		width: 360px;
		height: 32px;
		transform: translate(-40px, -40px);
	}

	&__item {
		position: relative;

		&--1 {
			max-width: 465px;
		}

		&--2 {
			max-width: 420px;
		}

		&--3 {
			max-width: 510px;
		}

		&--4 {
			max-width: 475px;
		}

		&--5 {
			max-width: 550px;
		}

		&--6 {
			max-width: 520px;
		}

		&::before {
			content: '';
			position: absolute;
			left: -20px;
			bottom: -11px;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			border: 3px solid var(--color-white);
			z-index: 1;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 2px;
			background-color: #93A79E;
		}
	}

	&__feedback {
		border-radius: 20px;
		max-width: 390px;
		overflow: hidden;
	}

	&__listing {
		height: 300px;
		overflow: auto;
	}

	&__price {
		flex-direction: column;
		gap: 4px;
	}

	&__check:checked + &__element {
		background-color: var(--color-primary-20);
	}

	&__element {
		border-radius: 20px;
		cursor: pointer;
		transition: 0.3s;

		@media (hover) {
			&:hover {
				background-color: var(--color-primary-20);
			}
		}
	}

	@media(max-width: $lg) {
		&__content {
			margin-bottom: 50px;
		}

		&__product {
			left: 0;
			top: -10px;
		}

		&__img {
			height: 370px;
			transform: rotate(30deg) translate(-160px, 50px);
		}

		&__feedback {
			max-width: 100%;
		}
	}

	@media(max-width: $md) {
		&__head {
			flex-direction: column;
			grid-gap: 20px;
		}

		&__content {
			margin-bottom: 30px;
		}

		&__product {
			display: none;
		}

		&__items {
			order: 2;
		}

		&__item {
			text-align: left;
			max-width: 100%;

			&::before {
				display: none;
			}
		}

		&__feedback {
			order: 1;
		}
	}
}

@keyframes product {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.result {
	&-slide {
		border-radius: 20px;
		position: relative;
		overflow: hidden;
	}

	&__before {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		z-index: 2;
	}

	&__change {
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0;
		width: 3px;
		left: 50%;
		height: 95%;
		z-index: 2;
	}

	&__circle {
		min-width: 47px;
		width: 47px;
		height: 47px;
		border-radius: 50%;
		cursor: col-resize;
	}

	&__img {
		object-position: 0;
		object-fit: cover;
		position: absolute;
		left: 0;
		top: 0;
	}

	&__bg {
		object-fit: contain;
	}

	&__pack {
		position: relative;
		overflow: hidden;
		border-radius: 20px;

		&::after {
			content: '';
			display: block;
			padding-top: 80%;
		}
	}

	&__pic {
		position: absolute;
		inset: 0;
		object-fit: cover;
	}
}

.conditions {
	background-color: var(--color-green-30);

	&__border {
		border: 1px solid var(--color-primary-50);
		border-radius: 20px;
	}

	&__item {
		position: relative;
		top: 20px;
		right: 20px;
		border-radius: 20px;
	}

	&__icon {
		font-size: 80px;
	}

	@media(max-width: $md) {
		&__item {
			position: static;
			align-items: flex-start;
		}

		&__icon {
			font-size: 50px;
		}
	}
}

.partners {
	&__item {
		// background-color: var(--color-green-30);
		background: linear-gradient(180deg, #DEE8E1 0%, rgba(255, 255, 255, 0.00) 100%);
		border-radius: 20px;
		min-height: 370px;
	}

	&__img {
		width: max-content;
	}

	&__feedback {
		border-radius: 20px;
	}

	&__content {
		max-width: 500px;
	}

	&__form {
		border-radius: 20px;
		background: #CBD7CF;
		max-width: 680px;
	}

	@media(max-width: $lg) {
		&__content {
			align-items: flex-start;
			justify-content: flex-start;
		}
	}

	@media(max-width: $md) {
		&__item {
			min-height: auto;
		}
	}
}

.reviews {
	background-color: var(--color-green-30);
	overflow: hidden;

	&__ava {
		min-width: 50px;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		overflow: hidden;
		position: relative;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: scale-down;
	}

	&-slide {
		border-radius: 20px;
	}
}

.contacts {
	position: relative;

	&__map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}

	&__content {
		width: max-content;
		position: relative;
		border-radius: 20px;
		z-index: 1;
	}

	&__item {
		width: max-content;
	}

	&__img {
		border-radius: 10px;
		min-width: 44px;
		width: 44px;
		height: 44px;
		overflow: hidden;
	}

	&__social {
		grid-gap: 10px;
	}

	@media(max-width: $md) {
		&__map {
			position: static;
			height: 300px;
			border-radius: 20px;
		}

		&__content,
		&__item {
			width: auto;
		}
	}
}

.politic {
	border-radius: 20px;
	padding: 60px;

	@media(max-width: $md) {
		& {
			padding: 40px 15px;
		}
	}
}

.success {
	border-radius: 20px;
	min-height: 500px;
	position: relative;
	border: none;
	background: url('../img/started-img-2.png') no-repeat center left -170px / 430px, url('../img/started-img-1.png') no-repeat center right -220px / 500px, var(--color-white);

	&__icon {
		font-size: 210px;
		margin-bottom: 55px;
	}

	@media(max-width: $md) {
		& {
			background: var(--color-white);
			min-height: auto;
		}

		&__icon {
			font-size: 150px;
			margin-bottom: 20px;
		}
	}
}

.feedback {
	border-radius: 20px;
	overflow: hidden;
	min-height: 500px;
	border: none;
	flex-direction: row;

	&__pic {
		position: relative;
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: cover;
	}

	&__form {
		padding: 60px;
	}

	@media(max-width: $lg) {
		& {
			max-width: 600px;
		}
	}

	@media(max-width: $md) {
		& {
			min-height: auto;
		}

		&__form {
			padding: 40px 25px;
		}
	}
}

.error {
	position: absolute;
	font-size: 12px;
	color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: var(--color-sec);
	width: 100%;
	height: 14px;
	bottom: -14px;
	left: 0;
	right: 0;
	border-radius: 6px;
	transition: 0.2s linear opacity;

	&--none {
		opacity: 0;
	}
}

.input--error {
	border-color: var(--color-sec);

	&:focus {
		border-color: var(--color-sec);
		box-shadow: none;
	}
}

.basket {
	&__title {
		font-size: 52px;

		@media (max-width: $md) {
			font-size: 30px;
		}
	}

	&__items {
		flex-direction: column;
		max-height: 340px;
		overflow: auto;
	}

	&__item {
		border-bottom: 1px solid rgba(147, 167, 158, 0.4);
		gap: 40px;

		@media (max-width: $md) {
			gap: 20px;
			flex-wrap: wrap;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__image {
		max-width: 120px;
		border: 1px solid #93A79E66;
		border-radius: 20px;

		@media (max-width: $md) {
			max-width: 90px;
		}
	}

	&__content {
		background-color: rgba(203, 215, 207, 0.3);
		border-radius: 0 0 16px 16px;
	}

	&__form {
		gap: 32px;

		@media (max-width: $lg) {
			gap: 24px;
			flex-direction: column;
			align-items: stretch;
			justify-content: flex-start;
		}
	}
}

.icon-close {
	font-size: 90px;
}