@import '../ui/scss/_variables.scss';
@import '../ui/scss/_functions.scss';

:root {

	@each $key,
	$value in $colors {
		@include getColors($value, $key);
	}

	--bg1: #E9EAEC;
	--bg2: #F4F5F6;
	--bg3: #FFFFFF;

	--spacing: 4px;

	--radius-small : 4px;
	--radius-middle: 8px;
	--radius-large : 12px;

	--media-lg: #{$lg};
	--media-md: #{$md};
	--media-sm: #{$sm};

	--font-base: 'Gilroy',
	Arial,
	Helvetica,
	sans-serif;

	--zi-l1: 321;
	--zi-l2: 322;
	--zi-l3: 323;
	--zi-l4: 324;
	--zi-l5: 325;
	--zi-l6: 326;
	--zi-l7: 327;
	--zi-l8: 328;
	--zi-l9: 329;
}

[data-theme="dark"] {
	@include getColors(#ffffff, text);

	--bg1: #181818;
	--bg2: #282828;
	--bg3: #323232;
}

body {
	background: var(--bg3);
	color     : var(--color-text);

	* {
		font-family                : var(--font-base);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

}

.active-enabled {
	display: none !important;
}

.toggle-active,
.tab-active,
.active {
	.active-disabled {
		display: none !important;
	}

	.active-enabled {
		display: flex !important;
	}
}

.header {
	top          : 0;
	left         : 0;
	right        : 0;
	transition   : 0.2s ease;
	position     : sticky;
	transform    : translateY(var(--top));
	border-bottom: 1px solid var(--color-primary);
	z-index      : var(--zi-l3);

	&__logo {
		max-width : 250px;
		margin-top: -15px;
	}

	@media(max-width: $md) {
		&__logo {
			margin-top: 0;
			max-width : 160px;
		}
	}
}

.slider {
	&-btn {
		width        : 50px;
		height       : 50px;
		border-radius: 50%;

		&.slider-prev {
			left: -60px;
		}

		&.slider-next {
			left : auto;
			right: -60px;
		}
	}

	&-pagination {
		& .swiper-pagination-bullet {
			width           : 12px;
			height          : 12px;
			border-radius   : 50%;
			background-color: var(--color-primary-40);
			margin          : 0 10px;

			&.swiper-pagination-bullet-active {
				background-color: var(--color-primary);
			}
		}
	}

	@media(max-width: $lg) {
		&-btn {
			&.slider-prev {
				left: 0;
			}

			&.slider-next {
				right: 0;
			}
		}
	}
}

.started {
	position: relative;

	&__title {
		font-size: 52px;
	}

	&__btns {
		grid-gap: 20px;
	}

	&__items {
		grid-gap: 36px;
	}

	&__circle {
		max-width    : 600px;
		background   : linear-gradient(180deg, #CBD7CF 0%, rgba(255, 255, 255, 0) 100%);
		border-radius: 50%;
		position     : relative;
		overflow     : hidden;

		&::before {
			content    : '';
			display    : block;
			padding-top: 100%;
		}
	}

	&__img {
		position : absolute;
		max-width: none;
		top      : 0;

		&--1 {
			top    : 0;
			left   : -110px;
			width  : 650px;
			z-index: 1;
		}

		&--2 {
			top  : -10px;
			right: -80px;
			width: 440px;
		}
	}

	&__social {
		position: absolute;
		bottom  : -15px;
		right   : 130px;
		grid-gap: 10px;
	}

	&__link {
		min-width    : 30px;
		width        : 30px;
		height       : 30px;
		border-radius: 5px;
	}

	@media(max-width: $lg) {
		& {
			flex-direction: column;
		}

		&__social {
			right: 20px;
		}
	}

	@media(max-width: $md) {
		&__title {
			font-size: 30px;
		}

		&__btns {
			flex-direction: column;
			align-items   : flex-start;
		}

		&__items {
			grid-gap: 20px;
		}

		&__btn {
			width: 100%;
		}

		&__img {
			max-width: 100%;

			&--1 {
				left: -70px;
			}

			&--2 {
				top: -50px;
			}
		}

		&__social {
			position: static;
			grid-gap: 15px;
		}

		&__link {
			min-width: 40px;
			width    : 40px;
			height   : 40px;
		}
	}
}

.conditions {
	background-color: var(--color-green-30);

	&__border {
		border       : 1px solid var(--color-primary-50);
		border-radius: 20px;
	}

	&__item {
		position     : relative;
		top          : 20px;
		right        : 20px;
		border-radius: 20px;
	}

	&__icon {
		font-size: 80px;
	}

	@media(max-width: $md) {
		&__item {
			position   : static;
			align-items: flex-start;
		}

		&__icon {
			font-size: 50px;
		}
	}
}

.partners {
	&__item {
		background-color: var(--color-green-30);
		border-radius   : 20px;
		min-height      : 200px;
	}

	&__img {
		width: max-content;
	}

	&__feedback {
		border-radius: 20px;
	}

	&__content {
		max-width: 500px;
	}

	&__form {
		border-radius: 20px;
		background   : #CBD7CF;
		max-width    : 680px;
	}

	@media(max-width: $lg) {
		&__content {
			align-items    : flex-start;
			justify-content: flex-start;
		}
	}

	@media(max-width: $md) {
		&__item {
			min-height: auto;
		}
	}
}

.reviews {
	background-color: var(--color-green-30);
	overflow        : hidden;

	&__ava {
		min-width    : 50px;
		width        : 50px;
		height       : 50px;
		border-radius: 50px;
		overflow     : hidden;
		position     : relative;
	}

	&__img {
		position  : absolute;
		top       : 0;
		left      : 0;
		right     : 0;
		bottom    : 0;
		object-fit: scale-down;
	}

	&-slide {
		border-radius: 20px;
	}
}